@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

.card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
}

.containerMenu {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background:#ff0050;
  z-index:-1;

  transform: skewY(-2.2deg);
  transform-origin:0 0;

  //chrome antialias fix
  -webkit-backface-visibility: hidden;

}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {

  padding: 190px 0 0 280px;

}

.title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.title2 {
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}

.description {

  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;

}

#albumes-title {
    color: black !important;
}

hr {
    color: #ff0050;
}

.column1 {
  padding-left: 50px;
  padding-top: 20px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: #ff0050;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  color: white;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 800px;
  float: left;
}

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
