#logo {
    width: 150px;
    height: auto;
}

.navbar-brand {
    padding: 5px 15px !important;
}

.comment-author-avatar img {
    width: 50px;
    height: auto;
}

.nav img {
    width:20px;
    height:20px;
    border:1px black solid;
    background-color: white;
}

div.wrap > div.container a:not([class]) {
    color: #ff0050 !important;
}

.site-admin .jumbotron {
    border: 5px solid white;
    border-radius: 15px;
    height: 200px;
    background-color:lightgray;
}

.site-admin .jumbotron:hover {
    border: 5px solid #ff0050;
    background-color:white;
}
